body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 11px; /* Размер основного шрифта в <p></p>  */
    background-color: #5988FF; /* Цвет фона веб-страницы */
    color: #333333; /* Цвет основного текста */ 
}
h1 {
    color: #D6FF6B; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: "Inter", serif; /* Семейство шрифтов */
    text-decoration: underline;
    text-decoration-color: #D6FF6B;
}
p {
    color: #FD98FB; /* Цвет заголовка */
    font-size: 11px; /* Размер шрифта в пунктах */
    font-family: "Inter", serif; /* Семейство шрифтов */
    border-style: dotted;
}
h2 {
    color: #D6FF6B; /* Цвет заголовка */
    font-family: "Inter", serif; /* Семейство шрифтов */
    text-decoration: underline;
    text-decoration-color: #D6FF6B;
}
ol {
    color: #FFFFFF; /* Цвет заголовка */
    font-family: "Inter", serif; /* Семейство шрифтов */
}
ul {
    color: #FFFFFF; /* Цвет заголовка */
    font-family: "Inter", serif; /* Семейство шрифтов */
}

@keyframes color-change {
    0% {
      color: #D6FF6B;
    }
  
    50% {
      color: #FFFFFF;
    }
  
    100% {
      color: #D6FF6B;
    }
}

h1:hover {
    animation: color-change 3s infinite;
}

@keyframes color-change {
    0% {
      color: #D6FF6B;
    }
  
    50% {
      color: #FFFFFF;
    }
  
    100% {
      color: #D6FF6B;
    }
}

h2:hover {
    animation: color-change 3s infinite;
}


@keyframes color-change {
    0% {
      color: #FD98FB;
    }
  
    50% {
      color: #FFFFFF;
    }
  
    100% {
      color: #FD98FB;
    }
}

p:hover {
    animation: color-change 3s infinite;
}
